#root{
  background-image: url("https://res.cloudinary.com/cantando/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1598207572/background_iyweap.jpg");
  background-size:cover;
  text-align: left;
  color: black;
  
  
}
.reservation{
  height: 300px;
  height: 100px;
}
.reservations-description {
    text-align: center;
    padding-top: 8rem;
    min-width: 100%;
    object-fit: cover;
    height: 100%;
  }
  .reservations-form-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    object-fit: cover;
    height: 100%;
    }
.res-title{
  color:crimson;
  text-align: center;
  }  
  
  
  .res-form { 
    position: relative;
    z-index: 1;
    color:crimson;
    font-weight: bold;
    max-width: 50em;
    margin-top: 0;
    padding-top: 8rem;
    max-width: 50em;
    margin: 0 auto;
    font-style: normal;
    font-size: medium;
 }
  
  
  
.reservation-row{
    text-align: left;

  } 
  .page-footer-title{
    text-align: center;
    padding-top: 60px;
    height: 100px;
    color: crimson;
    font-style: inherit;
    font-size: xx-large; 
  }
  .mb-0{
    text-align: center;
  }
  .h5{
    padding-top: 70px;
  }
  .container-fluid{
padding-top: 50px;

  }
  #googleMapContainer{
text-align: center;
padding-top:30px;

  }
  .btnbtndanger{
    padding-bottom:10px;
  }
  
  
 
 
  .reservations-form-dark-overlay{
color: crimson;

}
.form-row{
  color: crimson;
}
.form-group{
  color: crimson;
}
address{
  color: crimson;
}
.page-footer-copyright{
  color: crimson;
}