.contact {
    background-color: var(--white);
    width: 100%;
    max-width: 50em;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-top: 30px;
    color:black;
    font-size: 1rem;


}
.contact h1{
  color:black;
  font-style: normal;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}


